spring:
  datasource:
    url: jdbc:postgresql://dpg-d57m5echg0os73bba3tg-a:5432/woowpos
    username: woowpos_user
    password: J5Sea9n1AvD38jMjWVROxPVATOopgCTa
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration

  jackson:
    date-format: yyyy-MM-dd
    serialization:
      write-dates-as-timestamps: false
